body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button{
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: rgb(31, 31, 31);
  cursor: pointer;
  border-radius: 5px;
}

button:hover{
  background-color: rgb(175, 175, 175);
}

button.operador{
  color: red;
}

button.total{
  background-color: red;
}

#contador {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 450px;
  margin: 40px auto;
  padding: 20px;
  background: black;
  border-radius: 12px;
}

#contador label {
  grid-column: span 4;
  text-align: center;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}
